/src/main/resources/application.properties
/target/classes/application.properties
/src/main/resources/static/logs/custinfo.log
/target/classes/static/logs/custinfo.log
/logs/logback.2023-04-21.0.log.gz
/logs/logback.2023-04-24.0.log.gz
/logs/logback.log
/src/main/resources/logback.xml
/target/classes/logback.xml
